org: gcelente
app: g-celente

service: file-processing-pipeline-lambda

stages:
  default:
    params:
      tableName: "users-table-${sls:stage}"

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-2

  environment:
    DYNAMO_TABLE: file-metadata-${sls:stage}
    BUCKET_NAME: gateway-s3-images

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:GetObject
          Resource:
            - arn:aws:s3:::gateway-s3-images/*

        - Effect: Allow
          Action:
            - dynamodb:PutItem
          Resource:
            - arn:aws:dynamodb:us-east-2:*:table/file-metadata-${sls:stage}

functions:
  processFile:
    handler: handler.handler
    events:
      - s3:
          bucket: gateway-s3-images
          event: s3:ObjectCreated:*
          existing: true

resources:
  Resources:
    FileMetadataTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: file-metadata-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
